<div id="main-wrapper animate__animated animate__fadeInTopRight">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">


        <div class="row">
            <div class="col-12">

                <app-breadcrumbs></app-breadcrumbs>
                <router-outlet></router-outlet>


                <app-modal-imagen></app-modal-imagen>

            </div>
        </div>



        <footer class="footer">
            {{anoActual}} SBI-Internacional
        </footer>
    </div>