<div id="main-wrapper animate__animated animate__fadeInTopRight">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <app-breadcrumbs></app-breadcrumbs>
        <router-outlet></router-outlet>
        <!-- <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card block.
                     

                    </div>
                </div>
            </div>
        </div> -->

        <footer class="footer">
            {{anoActual}} SBI-Internacional
        </footer>
    </div>

</div>