<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-boy">
                <app-dona [titulo]="Grafica1"></app-dona>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-boy">
                <app-dona [titulo]="Grafica2"></app-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-boy">
                <app-dona [titulo]="Grafica3"></app-dona>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-boy">
                <app-dona [titulo]="Grafica4"></app-dona>
            </div>
        </div>
    </div>
</div>